<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>The Nature of Code-代码本质</title>
  <!--?config=TeX-AMS-MML_HTMLorMML-->
  <!-- <script type="text/javascript" src="../javascripts/MathJax.js"></script>
  <script type="text/javascript" src="../javascripts/TeX-AMS-MML_HTMLorMML.js"></script> -->
  <!--以上是纯静态编译使用-->
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <!--为了快速打开，且有网络时使用这个-->
  <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="../javascripts/codeprocessing.js"></script>
  <script type="text/javascript" src="../javascripts/processing.js"></script>
  <script type="text/javascript" src="../javascripts/lazyloading.js"></script>
  <script type="text/javascript" src="../javascripts/sketchControls.js"></script>
  <script type="text/javascript" src="../javascripts/jquery.fixed.js"></script>
  <script type="text/javascript" src="../javascripts/jquery.lazyloadxt.extra.min.js"></script>
  <script type="text/javascript" src="../javascripts/size-iframes.js"></script>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $('#toc-list').fixed({'top':'8'});
      $('#nav-bar-wrap').fixed({'top':'8'});

      $('span.c1').each(function(){ addStylesToCodeLines($(this)); });
      // $('code').each(function(){ inlineComments($(this)); });
      $('div.source-code').each(function(){ setRawCodeHeight($(this)); });
      $('a.toggle').click(function(){ toggleCodeDisplay($(this)); return false; });
    });
  </script>
  <link rel="stylesheet" href="../stylesheets/fonts.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/html.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/code-html.css" type="text/css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34673170-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script>

    window.onload= function() {
      offsetUps = document.getElementsByClassName('offset-up');
      for(var i=0; i < offsetUps.length; i++) {
        var element = offsetUps[i];
        var comment = element.getElementsByClassName('code-comment')[0];
        var height = comment.offsetHeight;
        comment.style.top = '-' + (height) +  'px';
      }
    };
</script>

</head>
<body>

  <div id="navigator">
    <div id="navigator-inner">
      <div id='nav-bar-wrap'>
        <div id="mask"></div>
        <div id="nav-bar">
          <h1><a href="/">代码<strong>本质</strong></a></h1>
          <h2>Daniel Shiffman著</h2>
          <a id="purchase-link" href="https://www.createspace.com/4068419">购买打印版</a> <a id="purchase-link" href="http://natureofcode.com">购买PDF电子版</a>
        </div>
      </div>
      <div id="toc-holder">
        <div id="toc-list">
          <ul>
            <li><a href="../welcome/index.html">Welcome-欢迎</a></li>
            <li><a href="../acknowledgments/index.html">Acknowledgments-致谢</a></li>
            <li><a href="../dedication/index.html">Dedication-献给</a></li>
            <li><a href="../preface/index.html">Preface-前言</a></li>
            <li><a href="../intro/index.html">Introduction-介绍</a></li>
            <li><a href="../chapter-1-vectors">1.  Vectors</a></li>
            <li><a href="../chapter-2-forces">2.  Forces</a></li>
            <li><a href="../chapter-3-oscillation">3.  Oscillation</a></li>
            <li><a href="../chapter-4-particle-systems">4.  Particle Systems</a></li>
            <li><a href="../chapter-5-physics-libraries">5.  Physics Libraries</a></li>
            <li><a href="../chapter-6-autonomous-agents">6.  Autonomous Agents</a></li>
            <li><a href="../chapter-7-cellular-automata">7.  Cellular Automata</a></li>
            <li><a href="../chapter-8-fractals">8.  Fractals</a></li>
            <li><a href="../chapter-9-the-evolution-of-code">9.  The Evolution of Code</a></li>
            <li><a href="../chapter-10-neural-networks">10.  Neural Networks</a></li>
            <li><a href="../further-reading">Further Reading</a></li>
            <li><a href="../index">Index</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="top">
    <div id="header">
      <h1><a href="/">代码<strong>本质</strong></a></h1>
      <h2>Daniel Shiffman著</h2>
    </div>
  </div>

  <div id="middle">
    <div id="container">
      {{ content }}
    </div>
  </div>

  <div id="bottom">
    <div id="footer">
      <div class="one-third" id="licenses">
        <h4>开源协议</h4>
        <p>
          <a class="license-badge" rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
          <a class="license-badge" rel="license" href="http://creativecommons.org/licenses/LGPL/2.1/"><img alt="LGPL License" style="border-width:0" src="http://www.gnu.org/graphics/lgplv3-88x31.png" /></a>
        </p>

        <p>
          本书文本和插图基于：<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.
        </p>

        <p>
          本书源代码基于<a rel="license" href="http://creativecommons.org/licenses/LGPL/2.1/">GNU Lesser General Public License</a> as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.
        </p>

        <p>本书翻译者改编或原创的代码，遵循MIT协议开源</p>

      </div>

      <div class="one-third">
        <h4>Colophon</h4>

        <p>本书采用<a href="https://github.com/runemadsen/Magic-Book-Project">The Magic Book Project</a>编译而成.

        <p>本书如果没有在 <a href="http://www.kickstarter.com/projects/shiffman/the-nature-of-code-book-project">Kickstarter</a> 好朋友们的帮助是没法完成的。</p> 

        <p>This book is typeset on the web in Georgia with headers in Proxima Nova.</p>

        <p>请在这里<a href="https://github.com/Fungus-Light/noc-book-zh">中文版GitHub页面</a>提交BUG或者翻译错误</p>
      </div>

      <div class="one-third">
        <h4>作者</h4>
        <p>Daniel Shiffman是纽约大学的一名教授，开设<a href="http://itp.nyu.edu/">Interactive Telecommunications Program</a></p>

        <p>他是<a href="http://www.learningprocessing.com/">Learning Processing</a>的作者</p>

        <p><a href="https://twitter.com/shiffman">Twitter</a> <a href="http://github.com/shiffman">GitHub</a></p>
        <h4>翻译者</h4>
        <p>fungus-light是不知名九流程序员</p>
        <p><a href="https://github.com/Fungus-Light">GitHub</a>&&<a href="https://gitee.com/fungus-light">Gitee</a></p>
      </div>
    </div>
  </div>
  </body>
</html>
